<!doctype html>
<html lang="en">

<head>
    <title>Unfold - Personal Portfolio & CV Template</title>
</head>

<body>
    <div class="container">

        <h1>Products Detail</h1>
            <h4>
                <a href="/products/<%=product.id%>"><%=product.productTitle %></a>
            </h4>
            <p><%=product.productDescription %></p>
            <p>ราคา: <%=product.productPrice %> บาท</p>
    </div> <!-- container -->
</body>

</html>